* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-app {
  background-color: antiquewhite;
}

.container-header {
  background-color: rgb(218, 248, 248);
  min-height: 5vh;
}

.container-profile {
  background-color: white;
  min-height: 90vh;
}

.container-footer {
  background-color: rgb(218, 248, 248);
  min-height: 5vh;
}