* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-app {
  background-color: antiquewhite;
}

.container-header {
  background-color: azure;
}

.container-profile {
  background-color: white;
}

.container-footer {
  background-color: aqua;
}